In [1]:
# a lambda function to add and multiply two nos
# A lambda function can take any number of arguments, but can only have one expression.
x = lambda y : y * 10
print(x(10))
x = lambda a, b, c : a + b + c
print(x(5, 6, 2))
x = lambda a, b : a * b
print(x(5, 6))

100
13
30

In [2]:
# arrays create
shapes = ["Circle", "Square", "Rectangle"]
#modify contents
shapes[0]= "Triangle"
#Return the number of elements in the shapes array:
x = len(shapes)
for x in shapes:
  print(x)
shapes.append("Hexagon")
shapes.remove("Triangle")

Triangle
Square
Rectangle

In [3]:
#looping through a string
bus = ["red", "blue", "green"]
for x in bus:
  print(bus)
for x in "red":
  print(x)

['red', 'blue', 'green']
['red', 'blue', 'green']
['red', 'blue', 'green']
r
e
d

In [4]:
#nested loops print 
bus = ["red", "blue", "green"]
company = ["Toyata", "Ford", "Volvo"]
for x in bus:
  for y in company:
    print(x, y)

red Toyata
red Ford
red Volvo
blue Toyata
blue Ford
blue Volvo
green Toyata
green Ford
green Volvo

In [5]:
# use continue in an array to skip reading an element
bus = ["red", "blue", "green"]
for x in bus:
  if x == "blue":
    continue
  print(x)

red
green

In [6]:
# use while in an example
i = 1
while i < 6:
  print(i)
  i += 1

1
2
3
4
5

In [7]:
# prgm to incorporate and explain casting
x = int(1)   # x will be 1
y = int(2.8) # y will be 2
z = int("3") # z will be 3
x = float(1)     # x will be 1.0
y = float(2.8)   # y will be 2.8
z = float("3")   # z will be 3.0
w = float("4.2") # w will be 4.2
x = str("s1") # x will be 's1'
y = str(2)    # y will be '2'
z = str(3.0)  # z will be '3.0'

In [8]:
#return a part of the string
b = "Hello, World!"
print(b[2:5])
print(b[:5])

llo
Hello

In [9]:
#return a part of the string with negative indexing
b = "Hello, World!"
print(b[-5:-2])

orl

In [10]:
# a program to demostrate a simple function 
def my_function():
  print("Hamilton is a great musical")

my_function()

Hamilton is a great musical

In [11]:
# function different use cases
def my_function(lname):
  print(lname + " Jennifer")

my_function("Garner,")
my_function("Aniston,")
my_function("Lawrence,")

Garner, Jennifer
Aniston, Jennifer
Lawrence, Jennifer

In [12]:
# If the number of arguments is unknown, add a * before the parameter name:

def my_function(*kids):
  print("The youngest child is " + kids[2])

my_function("Emil", "Tobias", "Linus")

The youngest child is Linus

In [13]:
# using dictionary to access key
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964,
  "colors": ["red", "white", "blue"]
}

print(thisdict["brand"])
print(thisdict["colors"])
print(len(thisdict))

Ford
['red', 'white', 'blue']
4

In [14]:
# use a tuple to demonstrate its use
thistuple = ("apple", "banana", "cherry", "apple", "cherry")
print(thistuple)
print(len(thistuple))

thistuple = ("apple",)
print(type(thistuple))

#NOT a tuple
thistuple = ("apple")
print(type(thistuple))

('apple', 'banana', 'cherry', 'apple', 'cherry')
5
<class 'tuple'>
<class 'str'>

In [15]:
# to demonstrate a list declaration 
thislist = ["apple", "banana", "cherry"]
print(len(thislist))
list1 = ["abc", 34, True, 40, "male"]
print(list1)

3
['abc', 34, True, 40, 'male']

In [16]:
# demonstrate boolean 
a = 200
b = 33

if b > a:
  print("b is greater than a")
else:
  print("b is not greater than a")

print(bool("Hello"))
print(bool(15))

b is not greater than a
True
True

In [17]:
# demonstrate set and length 
thisset = {"apple", "banana", "cherry", "apple"}
print(thisset)
print(len(thisset))
set2 = {1, 5, 7, 9, 3}
set3 = {True, False, False}
print(len(set2))
print(len(set3))
set1 = {"abc", 34, True, 40, "male"}
print(len(set1))

{'banana', 'cherry', 'apple'}
3
5
2
5

In [18]:
# prgm to demonstrate accessing, removing set elements
thisset = {"apple", "banana", "cherry"}

for x in thisset:
  print(x)

thisset = {"apple", "banana", "cherry"}
print("banana" in thisset)

# add elements
print("banana" in thisset)

mylist = ["kiwi", "orange"]
thisset.update(mylist)
print(thisset)

# remove elements
thisset.remove("banana")
print(thisset)

banana
cherry
apple
True
True
{'apple', 'cherry', 'kiwi', 'orange', 'banana'}
{'apple', 'cherry', 'kiwi', 'orange'}

In [19]:
# incorporate loops in a set
thisset = {"apple", "banana", "cherry"}
for x in thisset:
  print(x)

banana
cherry
apple

In [20]:
# find the area of a square
def area_square(x):
  return x*x 

print(area_square(5))

25

In [21]:
# multiply two numbers
def multiply(*args):
  print(args)

print(1,2,33,7)

1 2 33 7

In [23]:
#define a function
def func1():
   print (" I am learning Python function")
   print (" still in func1")
   
func1()

 I am learning Python function
 still in func1

In [25]:
# removing specific element
my_list = [12, 'Siya', 'Tiya', 14, 'Riya', 12, 'Riya']
my_list.remove(12) # it will remove the element 12 at the start.
print(my_list)
my_list.remove('Riya') # will remove the first Riya from the list
print(my_list)

['Siya', 'Tiya', 14, 'Riya', 12, 'Riya']
['Siya', 'Tiya', 14, 12, 'Riya']

In [26]:
# remove an element using pop()
my_list = [12, 'Siya', 'Tiya', 14, 'Riya', 12, 'Riya']

#By passing index as 2 to remove Tiya
name = my_list.pop(2)
print(name)
print(my_list)

#pop() method without index â€“ returns the last element
item = my_list.pop()
print(item)
print(my_list)

#passing index out of range
item = my_list.pop(15)
print(item)
print(my_list)

Tiya
[12, 'Siya', 14, 'Riya', 12, 'Riya']
Riya
[12, 'Siya', 14, 'Riya', 12]

IndexError: ignored

In [27]:
# use clear() to remove elements
my_list = [12, 'Siya', 'Tiya', 14, 'Riya', 12, 'Riya']

#Using clear() method
element = my_list.clear()
print(element)
print(my_list)

None
[]

In [29]:
# remove single to multiple elements in a list using del()
my_list = list(range(15))
print("The Original list is ", my_list)

#To remove the firstelement
del my_list[0]
print("After removing first element", my_list)

#To remove last element
del my_list[-1]
print("After removing last element", my_list)

#To remove element for given index : for example index:5
del my_list[5]
print("After removing element from index:5", my_list)

#To remove last 2 elements from the list
del my_list[-2]
print("After removing last 2 elements", my_list)

#To remove multiple elements
del my_list[1:5]
print("After removing multiple elements from start:stop index (1:5)", my_list)

#To remove multiple elements
del my_list[4:]
print("To remove elements from index 4 till the end (4:)", my_list)

The Original list is  [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]
After removing first element [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]
After removing last element [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13]
After removing element from index:5 [1, 2, 3, 4, 5, 7, 8, 9, 10, 11, 12, 13]
After removing last 2 elements [1, 2, 3, 4, 5, 7, 8, 9, 10, 11, 13]
After removing multiple elements from start:stop index (1:5) [1, 7, 8, 9, 10, 11, 13]
To remove elements from index 4 till the end (4:) [1, 7, 8, 9]

In [30]:
# use remove , del , pop to show the difference 
my_list1 = ['A', 'B', 'C', 'D', 'E', 'F']
print("The Originallist is ", my_list1)
#Using remove() to remove first element
my_list1.remove('A')
print("Using remove(), the final list is ", my_list1)

my_list1 = ['A', 'B', 'C', 'D', 'E', 'F']
print("The Originallist is ", my_list1)
#Using pop() to remove the first element
element = my_list1.pop(0)
print("The first element removed from my_list1 is ", element)
print("Using pop(), the final list is ", my_list1)

#Using del to remove the first element
my_list2 = ['A', 'B', 'C', 'D', 'E', 'F']
del my_list2[0]
print("Using del, the final list is ", my_list2)

The Originallist is  ['A', 'B', 'C', 'D', 'E', 'F']
Using remove(), the final list is  ['B', 'C', 'D', 'E', 'F']
The Originallist is  ['A', 'B', 'C', 'D', 'E', 'F']
The first element removed from my_list1 is  A
Using pop(), the final list is  ['B', 'C', 'D', 'E', 'F']
Using del, the final list is  ['B', 'C', 'D', 'E', 'F']

In [31]:
# removing duplicates from a list
my_list = [1, 2, 3, 1, 2, 4, 5, 4 ,6, 2]
print("List Before ", my_list)
temp_list = []

for i in my_list:
    if i not in temp_list:
        temp_list.append(i)

my_list = temp_list

print("List After removing duplicates ", my_list)

List Before  [1, 2, 3, 1, 2, 4, 5, 4, 6, 2]
List After removing duplicates  [1, 2, 3, 4, 5, 6]

In [32]:
# removing duplicates using dictionary
from collections import OrderedDict
my_list = ['a','x','a','y','a','b','b','c']
my_final_list = OrderedDict.fromkeys(my_list)
print(list(my_final_list))

['a', 'x', 'y', 'b', 'c']

In [33]:
# remove duplicates using list comprehension
my_list = [1,2,2,3,1,4,5,1,2,6]
my_finallist = []
[my_finallist.append(n) for n in my_list if n not in my_finallist] 
print(my_finallist)

[1, 2, 3, 4, 5, 6]

In [34]:
# remove duplicates using enumerate() and list comprehension
my_list = [1,2,2,3,1,4,5,1,2,6]
my_finallist = [i for j, i in enumerate(my_list) if i not in my_list[:j]] 
print(list(my_finallist))

[1, 2, 3, 4, 5, 6]

In [35]:
# prgm for testing abs() for an integer,  float,  complex number

int_num = -25
float_num = -10.50
complex_num = (3+10j)


print("The absolute value of an integer number is:", abs(int_num))
print("The absolute value of a float number is:", abs(float_num))
print("The magnitude of the complex number is:", abs(complex_num))

The absolute value of an integer number is: 25
The absolute value of a float number is: 10.5
The magnitude of the complex number is: 10.44030650891055

In [36]:
# prgm to count the element
list1 = ['red', 'green', 'blue', 'orange', 'green', 'gray', 'green']
color_count = list1.count('green')
print('The count of color: green is ', color_count)

list1 = [2,3,4,3,10,3,5,6,3]
elm_count = list1.count(3)
print('The count of element: 3 is ', elm_count)

The count of color: green is  3
The count of element: 3 is  4

In [39]:
# creating a dictionary to declare students in a class
Dict = {'Tim': 18,'Charlie':12,'Tiffany':22,'Robert':25}	
Boys = {'Tim': 18,'Charlie':12,'Robert':25}
Girls = {'Tiffany':22}	
studentX=Boys.copy()
studentY=Girls.copy()
print(studentX)
print(studentY)
Dict.update({"Sarah":9})
print(Dict)

{'Tim': 18, 'Charlie': 12, 'Robert': 25}
{'Tiffany': 22}
{'Tim': 18, 'Charlie': 12, 'Tiffany': 22, 'Robert': 25, 'Sarah': 9}

In [41]:
# return a tuple pair from a dictionary and check if a given key value exists in a dict
Dict = {'Tim': 18,'Charlie':12,'Tiffany':22,'Robert':25}	
print ("Students Name: %s" % Dict.items())

Boys = {'Tim': 18,'Charlie':12,'Robert':25}
Girls = {'Tiffany':22}
for key in Dict.keys():
    if key in Boys.keys():
        print(True)
    else:       
        print(False)

Students Name: dict_items([('Tim', 18), ('Charlie', 12), ('Tiffany', 22), ('Robert', 25)])
True
True
False
True

In [42]:
# sorting the dictionary

Dict = {'Tim': 18,'Charlie':12,'Tiffany':22,'Robert':25}
Boys = {'Tim': 18,'Charlie':12,'Robert':25}
Girls = {'Tiffany':22}
Students = list(Dict.keys())
Students.sort()
for S in Students:
      print(":".join((S,str(Dict[S]))))

Charlie:12
Robert:25
Tiffany:22
Tim:18

In [ ]:
# compare values of 2 dictionary using cmp()
Boys = {'Tim': 18,'Charlie':12,'Robert':25}
Girls = {'Tiffany':22}	
print(cmp(Girls, Boys))  # cmp is notsupported in Python 3

In [46]:
# prgm to make a dictionary into a printable string format
Dict = {'Tim': 18,'Charlie':12,'Tiffany':22,'Robert':25}	
print("printable string:%s" % str (Dict))

printable string:{'Tim': 18, 'Charlie': 12, 'Tiffany': 22, 'Robert': 25}

In [47]:
# prgm to merge dictionary
my_dict1 = {"username": "XYZ", "email": "xyz@gmail.com", "location":"Mumbai"}
my_dict2 = {"firstName" : "Nick", "lastName": "Price"}

my_dict1.update(my_dict2)
print(my_dict1)

{'username': 'XYZ', 'email': 'xyz@gmail.com', 'location': 'Mumbai', 'firstName': 'Nick', 'lastName': 'Price'}

In [48]:
# merging dict using **kwargs method
my_dict1 = {"username": "XYZ", "email": "xyz@gmail.com", "location":"Mumbai"}
my_dict2 = {"firstName" : "Nick", "lastName": "Price"}
my_dict =  {**my_dict1, **my_dict2} 
print(my_dict)

{'username': 'XYZ', 'email': 'xyz@gmail.com', 'location': 'Mumbai', 'firstName': 'Nick', 'lastName': 'Price'}

In [49]:
#to test if an element is in the dictionary
my_dict = {"username": "XYZ", "email": "xyz@gmail.com", "location":"Mumbai"}
print("email" in my_dict)
print("location" in my_dict)
print("test" in my_dict)

True
True
False

In [50]:
# using range to display continous numbers
for i in range(10):
    print(i, end =" ")

0 1 2 3 4 5 6 7 8 9

In [52]:
# prgm to skip btwn numbers
# using start , stop and step in the range 
for i in range(3, 10, 2):
    print(i, end =" ")

3 5 7 9

In [53]:
# reverse range- decrement the value using neg steps
for i in range(15, 5, -1):
    print(i, end =" ")

15 14 13 12 11 10 9 8 7 6

In [54]:
# print array using for loop
arr_list = ['Mysql', 'Mongodb', 'PostgreSQL', 'Firebase']

for i in range(len(arr_list)):
    print(arr_list[i], end =" ")

Mysql Mongodb PostgreSQL Firebase

In [55]:
# creat a list using range()
print(list(range(10)))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [56]:
# creat a list of alphabets
def get_alphabets(startletter, stopletter, step):
    for c in range(ord(startletter.lower()), ord(stopletter.lower()), step):
        yield chr(c)

print(list(get_alphabets("a", "h", 1)))

['a', 'b', 'c', 'd', 'e', 'f', 'g']

In [57]:
# prgm to access the range elements 
startvalue = range(5)[0] 
print("The first element in range is = ", startvalue) 

secondvalue = range(5)[1] 
print("The second element in range is = ", secondvalue) 

lastvalue = range(5)[-1]
print("The first element in range is = ", lastvalue)

The first element in range is =  0
The second element in range is =  1
The first element in range is =  4

In [58]:
# prgm to get even nos. using range
for i in range(2, 20, 2):
    print(i, end =" ")

2 4 6 8 10 12 14 16 18

In [59]:
# merge 2  range outputs 
from itertools import chain 

print("Merging two range into one") 
frange =chain(range(10), range(10, 20, 1))
for i in frange: 
    print(i, end=" ")

Merging two range into one
0 1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19

In [60]:
# prgm to find a particular word in a list 
mystring = "Hamilton is a wonderful musical!"
print("The position of wonderful is at:", mystring.find("wonderful"))

The position of wonderful is at: 14

In [61]:
# to find the position of a given substring in a string using find()
mystring = "Hamilton is a wonderful musical"
print("The position of wonderful site is at:", mystring.find("wonderful", 2, 5))
print("The position of Hamilton is at:", mystring.find("Hamilton", 10))

The position of wonderful site is at: -1
The position of Hamilton is at: -1

In [62]:
# To find the total occurrence of a substring
my_string = "test string test, test string testing, test string test string"
startIndex = 0
count = 0
for i in range(len(my_string)):
    k = my_string.find('test', startIndex)
    if(k != -1):
        startIndex = k+1
        count += 1
        k = 0

print("The total count of substring test is: ", count )

The total count of substring test is:  6

In [64]:
# to find substring
mystring = "Hamilton is a wonderful musical!"
print("The position of musicals is at:", mystring.find("musicals"))

The position of musicals is at: -1

In [65]:
# append an element to the dictionary
my_dict = {"Name":[],"Address":[],"Age":[]};

my_dict["Name"].append("Guru")
my_dict["Address"].append("Mumbai")
my_dict["Age"].append(30)	
print(my_dict)

{'Name': ['Guru'], 'Address': ['Mumbai'], 'Age': [30]}

In [66]:
my_dict = {"username": "XYZ", "email": "xyz@gmail.com", "location":"Mumbai"}
print("username :", my_dict['username'])
print("email : ", my_dict["email"])
print("location : ", my_dict["location"])

username : XYZ
email :  xyz@gmail.com
location :  Mumbai

In [67]:
# deleting elements in dictionary
my_dict = {"username": "XYZ", "email": "xyz@gmail.com", "location":"Mumbai"}
del my_dict['username']  # it will remove "username": "XYZ" from my_dict
print(my_dict)
my_dict.clear()  # till will make the dictionarymy_dictempty
print(my_dict)

{'email': 'xyz@gmail.com', 'location': 'Mumbai'}
{}

In [68]:
# updating existing elemetns in a dictionary
my_dict = {"username": "XYZ", "email": "xyz@gmail.com", "location":"Mumbai"}
my_dict["username"] = "ABC"
print(my_dict)

{'username': 'ABC', 'email': 'xyz@gmail.com', 'location': 'Mumbai'}

In [69]:
# insert a dictionary into another dictionary
my_dict = {"username": "XYZ", "email": "xyz@gmail.com", "location":"Washington"}
my_dict1 = {"firstName" : "Nick", "lastName": "Price"}
my_dict["name"] = my_dict1

print(my_dict)

{'username': 'XYZ', 'email': 'xyz@gmail.com', 'location': 'Washington', 'name': {'firstName': 'Nick', 'lastName': 'Price'}}

In [70]:
# testing roundoff and decimals behaviour
import random

def truncate(num):
    return int(num * 1000) / 1000

arr = [random.uniform(0.01, 0.05) for _ in range(1000000)]
sum_num = 0
sum_truncate = 0
for i in arr:
    sum_num = sum_num + i        
    sum_truncate = truncate(sum_truncate + i)
    
print("Testing by using truncating upto 3 decimal places")
print("The original sum is = ", sum_num)
print("The total using truncate = ", sum_truncate)
print("The difference from original - truncate = ", sum_num - sum_truncate)

print("\n\n")
print("Testing by using round() upto 3 decimal places")
sum_num1 = 0
sum_truncate1 = 0
for i in arr:
    sum_num1 = sum_num1 + i        
    sum_truncate1 = round(sum_truncate1 + i, 3)


print("The original sum is =", sum_num1)
print("The total using round = ", sum_truncate1)
print("The difference from original - round =", sum_num1 - sum_truncate1)

Testing by using truncating upto 3 decimal places
The original sum is =  29991.932049556686
The total using truncate =  29492.015
The difference from original - truncate =  499.91704955668683



Testing by using round() upto 3 decimal places
The original sum is = 29991.932049556686
The total using round =  29991.886
The difference from original - round = 0.046049556687648874

In [71]:
# to format a calendar 

import calendar
# Create a plain text calendar
c = calendar.TextCalendar(calendar.THURSDAY)
str = c.formatmonth(2025, 1, 0, 0)
print(str)

# Create an HTML formatted calendar
hc = calendar.HTMLCalendar(calendar.THURSDAY)
str = hc.formatmonth(2025, 1)
print(str)
# loop over the days of a month
# zeroes indicate that the day of the week is in a next month or overlapping month
for i in c.itermonthdays(2025, 4):
    print(i)

    # The calendar can give info based on local such a names of days and months (full and abbreviated forms)
    for name in calendar.month_name:
        print(name)
    for day in calendar.day_name:
        print(day)
    # calculate days based on a rule: For instance an audit day on the second Monday of every month
    # Figure out what days that would be for each month, we can use the script as shown here
    for month in range(1, 13):
		# It retrieves a list of weeks that represent the month
        mycal = calendar.monthcalendar(2025, month)
		# The first MONDAY has to be within the first two weeks
        week1 = mycal[0]
        week2 = mycal[1]
        if week1[calendar.MONDAY] != 0:
            auditday = week1[calendar.MONDAY]
        else:
        # if the first MONDAY isn't in the first week, it must be in the second week
        	auditday = week2[calendar.MONDAY]
print("%10s %2d" % (calendar.month_name[month], auditday))

    January 2025
Th Fr Sa Su Mo Tu We
                   1
 2  3  4  5  6  7  8
 9 10 11 12 13 14 15
16 17 18 19 20 21 22
23 24 25 26 27 28 29
30 31

<table border="0" cellpadding="0" cellspacing="0" class="month">
<tr><th colspan="7" class="month">January 2025</th></tr>
<tr><th class="thu">Thu</th><th class="fri">Fri</th><th class="sat">Sat</th><th class="sun">Sun</th><th class="mon">Mon</th><th class="tue">Tue</th><th class="wed">Wed</th></tr>
<tr><td class="noday">&nbsp;</td><td class="noday">&nbsp;</td><td class="noday">&nbsp;</td><td class="noday">&nbsp;</td><td class="noday">&nbsp;</td><td class="noday">&nbsp;</td><td class="wed">1</td></tr>
<tr><td class="thu">2</td><td class="fri">3</td><td class="sat">4</td><td class="sun">5</td><td class="mon">6</td><td class="tue">7</td><td class="wed">8</td></tr>
<tr><td class="thu">9</td><td class="fri">10</td><td class="sat">11</td><td class="sun">12</td><td class="mon">13</td><td class="tue">14</td><td class="wed">15</td></tr>
<tr><td class="thu">16</td><td class="fri">17</td><td class="sat">18</td><td class="sun">19</td><td class="mon">20</td><td class="tue">21</td><td class="wed">22</td></tr>
<tr><td class="thu">23</td><td class="fri">24</td><td class="sat">25</td><td class="sun">26</td><td class="mon">27</td><td class="tue">28</td><td class="wed">29</td></tr>
<tr><td class="thu">30</td><td class="fri">31</td><td class="noday">&nbsp;</td><td class="noday">&nbsp;</td><td class="noday">&nbsp;</td><td class="noday">&nbsp;</td><td class="noday">&nbsp;</td></tr>
</table>

0

January
February
March
April
May
June
July
August
September
October
November
December
Monday
Tuesday
Wednesday
Thursday
Friday
Saturday
Sunday
0

January
February
March
April
May
June
July
August
September
October
November
December
Monday
Tuesday
Wednesday
Thursday
Friday
Saturday
Sunday
0

January
February
March
April
May
June
July
August
September
October
November
December
Monday
Tuesday
Wednesday
Thursday
Friday
Saturday
Sunday
0

January
February
March
April
May
June
July
August
September
October
November
December
Monday
Tuesday
Wednesday
Thursday
Friday
Saturday
Sunday
0

January
February
March
April
May
June
July
August
September
October
November
December
Monday
Tuesday
Wednesday
Thursday
Friday
Saturday
Sunday
1

January
February
March
April
May
June
July
August
September
October
November
December
Monday
Tuesday
Wednesday
Thursday
Friday
Saturday
Sunday
2

January
February
March
April
May
June
July
August
September
October
November
December
Monday
Tuesday
Wednesday
Thursday
Friday
Saturday
Sunday
3

January
February
March
April
May
June
July
August
September
October
November
December
Monday
Tuesday
Wednesday
Thursday
Friday
Saturday
Sunday
4

January
February
March
April
May
June
July
August
September
October
November
December
Monday
Tuesday
Wednesday
Thursday
Friday
Saturday
Sunday
5

January
February
March
April
May
June
July
August
September
October
November
December
Monday
Tuesday
Wednesday
Thursday
Friday
Saturday
Sunday
6

January
February
March
April
May
June
July
August
September
October
November
December
Monday
Tuesday
Wednesday
Thursday
Friday
Saturday
Sunday
7

January
February
March
April
May
June
July
August
September
October
November
December
Monday
Tuesday
Wednesday
Thursday
Friday
Saturday
Sunday
8

January
February
March
April
May
June
July
August
September
October
November
December
Monday
Tuesday
Wednesday
Thursday
Friday
Saturday
Sunday
9

January
February
March
April
May
June
July
August
September
October
November
December
Monday
Tuesday
Wednesday
Thursday
Friday
Saturday
Sunday
10

January
February
March
April
May
June
July
August
September
October
November
December
Monday
Tuesday
Wednesday
Thursday
Friday
Saturday
Sunday
11

January
February
March
April
May
June
July
August
September
October
November
December
Monday
Tuesday
Wednesday
Thursday
Friday
Saturday
Sunday
12

January
February
March
April
May
June
July
August
September
October
November
December
Monday
Tuesday
Wednesday
Thursday
Friday
Saturday
Sunday
13

January
February
March
April
May
June
July
August
September
October
November
December
Monday
Tuesday
Wednesday
Thursday
Friday
Saturday
Sunday
14

January
February
March
April
May
June
July
August
September
October
November
December
Monday
Tuesday
Wednesday
Thursday
Friday
Saturday
Sunday
15

January
February
March
April
May
June
July
August
September
October
November
December
Monday
Tuesday
Wednesday
Thursday
Friday
Saturday
Sunday
16

January
February
March
April
May
June
July
August
September
October
November
December
Monday
Tuesday
Wednesday
Thursday
Friday
Saturday
Sunday
17

January
February
March
April
May
June
July
August
September
October
November
December
Monday
Tuesday
Wednesday
Thursday
Friday
Saturday
Sunday
18

January
February
March
April
May
June
July
August
September
October
November
December
Monday
Tuesday
Wednesday
Thursday
Friday
Saturday
Sunday
19

January
February
March
April
May
June
July
August
September
October
November
December
Monday
Tuesday
Wednesday
Thursday
Friday
Saturday
Sunday
20

January
February
March
April
May
June
July
August
September
October
November
December
Monday
Tuesday
Wednesday
Thursday
Friday
Saturday
Sunday
21

January
February
March
April
May
June
July
August
September
October
November
December
Monday
Tuesday
Wednesday
Thursday
Friday
Saturday
Sunday
22

January
February
March
April
May
June
July
August
September
October
November
December
Monday
Tuesday
Wednesday
Thursday
Friday
Saturday
Sunday
23

January
February
March
April
May
June
July
August
September
October
November
December
Monday
Tuesday
Wednesday
Thursday
Friday
Saturday
Sunday
24

January
February
March
April
May
June
July
August
September
October
November
December
Monday
Tuesday
Wednesday
Thursday
Friday
Saturday
Sunday
25

January
February
March
April
May
June
July
August
September
October
November
December
Monday
Tuesday
Wednesday
Thursday
Friday
Saturday
Sunday
26

January
February
March
April
May
June
July
August
September
October
November
December
Monday
Tuesday
Wednesday
Thursday
Friday
Saturday
Sunday
27

January
February
March
April
May
June
July
August
September
October
November
December
Monday
Tuesday
Wednesday
Thursday
Friday
Saturday
Sunday
28

January
February
March
April
May
June
July
August
September
October
November
December
Monday
Tuesday
Wednesday
Thursday
Friday
Saturday
Sunday
29

January
February
March
April
May
June
July
August
September
October
November
December
Monday
Tuesday
Wednesday
Thursday
Friday
Saturday
Sunday
30

January
February
March
April
May
June
July
August
September
October
November
December
Monday
Tuesday
Wednesday
Thursday
Friday
Saturday
Sunday
  December  1

In [72]:
# calculate average usinf for loop
def cal_average(num):
    sum_num = 0
    for t in num:
        sum_num = sum_num + t           

    avg = sum_num / len(num)
    return avg

print("The average is", cal_average([18,25,3,41,5]))

The average is 18.4

In [73]:
# using sum() and len() built in functions 
# Example to find average of list
number_list = [45, 34, 10, 36, 12, 6, 80]
avg = sum(number_list)/len(number_list)
print("The average is ", round(avg,2))

The average is  31.86

In [74]:
# using statistics module 
# Example to find the average of the list
from statistics import mean
 
number_list = [45, 34, 10, 36, 12, 6, 80]
avg = mean(number_list)
print("The average is ", round(avg,2))

The average is  31.86

In [77]:
# to perform string formating - Placeholder replaced with a string value
print ("Is this the {} real life".format("abosulutely123Fantasy"))
print ("{} is {} new kind of {} experience!".format("Hamilton", "totally","musical"))

Is this the abosulutely123Fantasy real life
Hamilton is totally new kind of musical experience!

In [79]:
# format string using class
class MyClass:
    msg1="Schuyler "
    msg2="Sisters"   

print("Welcome to {c.msg1}trio {c.msg2}!".format(c=MyClass()))

Welcome to Schuyler trio Sisters!

In [80]:
# Using string.format() method, add padding, space by using placeholders inside your string
print("I have {:5} dogs and {:5} cat".format(2,1))

I have     2 dogs and     1 cat

In [81]:
# use queue to add elements to a queue
import queue
q1 = queue.Queue(5) #The max size is 5.
q1.put(1)
q1.put(2)
q1.put(3)
q1.put(4)
q1.put(5)
print(q1.full()) # will return true.
q1 = queue.Queue()
q1.put(10) #this will additem 10 to the queue.

True

In [82]:
# to remove an item from a queue
import queue
q1 = queue.Queue()
q1.put(10)

item1 = q1.get()
print('The item removed from the queue is ', item1)

The item removed from the queue is  10

In [83]:
# add and remove an item using LIFO queue 
import queue
q1 = queue.LifoQueue()
q1.put(10)

item1 = q1.get()

print('The item removed from the LIFO queue is ', item1)

The item removed from the LIFO queue is  10

In [85]:
# to sort a queue
import queue
q1 = queue.Queue()
#Addingitems to the queue
q1.put(11)
q1.put(5)
q1.put(4)
q1.put(21)
q1.put(3)
q1.put(10)

#using bubble sort on the queue
n =  q1.qsize()
for i in range(n):
    x = q1.get() # the element is removed
    for j in range(n-1):
        y = q1.get() # the element is removed
        if x > y :  
            q1.put(y)   #the smaller one is put at the start of the queue
        else:
            q1.put(x)  # the smaller one is put at the start of the queue
            x = y     # the greater one is replaced with x and compared again with nextelement
    q1.put(x)

while (q1.empty() == False): 
  print(q1.queue[0], end = " ")  
  q1.get()

3 4 5 10 11 21

In [88]:
# to reverse a queue
import queue
q1 = queue.Queue()

q1.put(11)
q1.put(5)
q1.put(4)
q1.put(21)
q1.put(3)
q1.put(10)

def reverseQueue (q1src, q2dest) :  
    buffer = q1src.get()
    if (q1src.empty() == False) :
      reverseQueue(q1src, q2dest)      #using recursion
      q2dest.put(buffer)
      return q2dest

q2dest = queue.Queue()
qReversed = reverseQueue(q1,q2dest)

while (qReversed.empty() == False): 
  print(qReversed.queue[0], end = " ")  
  qReversed.get()

3 21 4 5 11

In [91]:
# to read the data from the URL and print it

import urllib.request
# open a connection to a URL using urllib 
# reading kurzgesagt video
webUrl  = urllib.request.urlopen('https://www.youtube.com/watch?v=4b33NTAuF5E')

#get the result code and print it
print("result code: " + str(webUrl.getcode()))

# read the data from the URL and print it
data = webUrl.read()
print(data)

TypeError: ignored

In [92]:
# to find the execution time taken for the small code 
import timeit
print(timeit.timeit('output = 10*5'))

0.01309010600016336

In [93]:
# testing timeit()using timeit.repeat
import timeit
import_module = "import random"
testcode = ''' 
def test(): 
    return random.randint(10, 100)
'''
print(timeit.timeit(stmt=testcode, setup=import_module))
#timeit.repeat() works similar to timeit.timeit() function, with the only difference it takes in the repeat argument and gives back the execution time in array format with values as per the repeat number.
print(timeit.repeat(stmt=testcode, setup=import_module, repeat=5))

0.08389255600013712
[0.07598548399982974, 0.07630721500026993, 0.0764805159997195, 0.07763408600112598, 0.07517019099941535]

In [96]:
# to return the generator object using the yield()
# Python yield returns a generator object. Generators are special functions that have to be iterated to get the values.
def testyield():
  yield "Dungeons and Dragons is a good game to play with friends"

output = testyield()
for i in output:
    print(i)
    print(output)

Dungeons and Dragons is a good game to play with friends
<generator object testyield at 0x7f47faf04f68>

In [97]:
# create a generator function
# A generator function is like a normal function, instead of having a return value it will have a yield keyword.
def generator():
    yield "H"
    yield "E"
    yield "L"
    yield "L"
    yield "O"

test = generator()
for i in test:
    print(i)
    print(output)

H
<generator object testyield at 0x7f47faf04f68>
E
<generator object testyield at 0x7f47faf04f68>
L
<generator object testyield at 0x7f47faf04f68>
L
<generator object testyield at 0x7f47faf04f68>
O
<generator object testyield at 0x7f47faf04f68>

In [98]:
# explain the difference btw generator and a normal function

# Normal function
def normal_test():
    return "Hello World"
	
#Generator function
def generator_test():
	yield "Hello World"
print(normal_test()) #call to normal function
print(generator_test()) # call to generator function

#The output shows that when you call the normal function normal_test() it returns Hello World string. 
#For a generator function with yield keyword it returns <generator object generator_test at 0x00000012F2F5BA20> and not the string.

#This is the main difference between a generator function and a normal function. 
#Now to get the value from the generator object we need to either use the object inside for loop or use next() method or make use of list().

Hello World
<generator object generator_test at 0x7f47fafb1728>

In [99]:
#  to read the values from the generator 
def even_numbers(n):
    for x in range(n):
       if (x%2==0): 
           yield x       
num = even_numbers(10)
print(list(num))

[0, 2, 4, 6, 8]

In [100]:
# to explain if generators can be used again 
def even_numbers(n):
    for x in range(n):
       if (x%2==0): 
           yield x       
num = even_numbers(10)
for i in num:
    print(i)

print("\n")
print("Calling the generator again: ", list(num))

0
2
4
6
8


Calling the generator again:  []

In [101]:
# use generator for fibonacci series
def getFibonnaciSeries(num):
    c1, c2 = 0, 1
    count = 0
    while count < num:
        yield c1
        c3 = c1 + c2
        c1 = c2
        c2 = c3
        count += 1
fin = getFibonnaciSeries(7)
print(fin)
for i in fin:
    print(i)

<generator object getFibonnaciSeries at 0x7f47faa81e60>
0
1
1
2
3
5
8

In [102]:
# to call a function with yield to calculate the square of a number
def test(n):
    return n*n

def getSquare(n):
    for i in range(n):
        yield test(i)

sq = getSquare(10)
for i in sq:
    print(i)

0
1
4
9
16
25
36
49
64
81

In [103]:
# to check if tww nos. are same with conditional statement

def main():
	x,y =8,8
	
	if(x < y):
		st= "x is less than y"
	
	elif (x == y):
		st= "x is same as y"
	
	else:
		st="x is greater than y"
	print(st)
	
if __name__ == "__main__":
	main()

x is same as y

In [ ]:
# read a file and use the size parameter to get only the required length of the line
myfile = open("demo.txt", "r")
myline = myfile.readline(10)
myfile.close()

In [108]:
# to showcase switch case
# Python language doesnâ€™t have a switch statement.

# Python uses dictionary mapping to implement Switch Case in Python
def SwitchExample(argument):
    switcher = {
        0: " This is Case Zero ",
        1: " This is Case One ",
        2: " This is Case Two ",
    }
    return switcher.get(argument, "nothing")


if __name__ == "__main__":
    argument = 1
    print (SwitchExample(argument))

 This is Case One

In [ ]:
# create a class car and define the contents
class Car:
	brand_name = "BMW"
	model = "Z4"
	manu_year = "2020"

	def __init__(self, brand_name, model, manu_year):
		self.brand_name = brand_name
		self.model = model
		self.manu_year = manu_year

	def car_details(self):
		print("Car brand is ", self.brand_name)
		print("Car model is ", self.model)
		print("Car manufacture year is ", self.manu_year)
			
			
	def get_Car_brand(self):
		print("Car brand is ", self.brand_name)

	def get_Car_model(self):
		print("Car model is ", self.model)

In [109]:
# to create a person class 
class Person:
  def __init__(self, name, age):
    self.name = name
    self.age = age

p1 = Person("John", 36)

print(p1.name)
print(p1.age)

John
36

In [110]:
#create a child class and add methods
class Student(Person):
  def __init__(self, fname, lname, year):
    super().__init__(fname, lname)
    self.graduationyear = year

  def welcome(self):
    print("Welcome", self.firstname, self.lastname, "to the class of", self.graduationyear)

In [ ]:
# to creat a function which demonstrates pass by reference

def changeme( mylist ):
   "This changes a passed list into this function"
   mylist.append([1,2,3,4]);
   print "Values inside the function: ", mylist
   return

# Now you can call changeme function
mylist = [10,20,30];
changeme( mylist );
print "Values outside the function: ", mylist

In [ ]:
# to try and show exceptions 
try:
  print(x)
except NameError:
  print("Variable x is not defined")
except:
  print("Something else went wrong")

In [111]:
# create a local variable 
def myfunc():
  x = 300
  def myinnerfunc():
    print(x)
  myinnerfunc()

myfunc()

300

In [112]:
# create a global variable
x = 300

def myfunc():
  print(x)

myfunc()

print(x)

300
300

In [114]:
# use global keyword to showcase variable belongs to global scope
x = 200
def myfunc():
  global x
  x = 300

myfunc()

print(x)

300

In [116]:
# create prgm to showcase function capabilities
def hello():
  print("Hello World") 
  return("hello")

def hello_noreturn():
  print("Hello World")
  
# Multiply the output of `hello()` with 2 
hello() * 2

Hello World

'hellohello'

In [117]:
# create anonymous function

from functools import reduce

my_list = [1,2,3,4,5,6,7,8,9,10]

# Use lambda function with `filter()`
filtered_list = list(filter(lambda x: (x*2 > 10), my_list))

# Use lambda function with `map()`
mapped_list = list(map(lambda x: x*2, my_list))

# Use lambda function with `reduce()`
reduced_list = reduce(lambda x, y: x+y, my_list)

print(filtered_list)
print(mapped_list)
print(reduced_list)

[6, 7, 8, 9, 10]
[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]
55

In [118]:
# creat a class dog
class Dog:
    """    
    Requires:
    legs - Legs so that the dog can walk.
    color - A color of the fur.
    """

    def __init__(self, legs, color):
        self.legs = legs
        self.color = color
        
    def bark(self):
        bark = "bark" * 2
        return bark

if __name__ == "__main__":
    dog = Dog(4, "brown")
    bark = dog.bark()
    print(bark)

barkbark

In [121]:
# check if two patterns match
import re
pattern = r"Cookie"
sequence = "Cookie"
if re.match(pattern, sequence):
    print("Match!")
else: print("Not a match!")

re.search(r'Co.k.e', 'Cookie').group()

Match!

'Cookie'

In [124]:
# to group regular expression 
statement = 'Please contact us never:never@notsosimple.com'
match = re.search(r'([\w\.-]+)@([\w\.-]+)', statement)
if statement:
  print("Email address:", match.group()) # The whole matched text
  print("Username:", match.group(1)) # The username (group 1)
  print("Host:", match.group(2)) # The host (group 2)

Email address: never@notsosimple.com
Username: never
Host: notsosimple.com

In [125]:
# use regular expresseion to check if two sequences match 
pattern = "C"
sequence1 = "IceCream"
sequence2 = "Cake"

# No match since "C" is not at the start of "IceCream"
print("Sequence 1: ", re.match(pattern, sequence1))
print("Sequence 2: ", re.match(pattern,sequence2).group())

Sequence 1:  None
Sequence 2:  C

In [126]:
# search a word in a string using regular expression
pattern = re.compile('COOKIE', re.IGNORECASE)
match = pattern.search("I am not a cookie monster")

print("Start index:", match.start())
print("End index:", match.end())
print("Tuple:", match.span())

Start index: 11
End index: 17
Tuple: (11, 17)